#encabezado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 2;
    align-items: center;
    justify-items: center;
}

#IdHeader{
    background-color: rgb(93, 88, 132);
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: rgb(240, 236, 243);
    grid-column: 2;
}

#inicioSesion{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: solid 1px red;
    border-radius: 10%;
    background-color: black;
}

#registrar{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: solid 1px red;
    border-radius: 10%;
    background-color: black;
}

body{
    background-color: rgb(71, 49, 92);
}

#carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: solid red 1px;
    border-radius: 100%;
    position: fixed;
    top: 30px;
    right: 30px;
}

#carrito:hover{
    transform: scale(1.05);
}

#carrito:active{
    transform: scale(0.95);
}

#menuCarrito{
    display: none;
    border: solid red 1px;
    position: fixed;
    top: 65px;
    right: 5px;
    min-width: 170px;
    max-height: 605px;
    overflow-y: auto;
}

.productos{
    display: flex;   
}

.carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
    border-radius: 10px;
    height: 175px;
    width: 175px;
    background-color: rgb(141, 133, 179);
    margin-left: 5px;
    margin-right: 5px;
}

.carta:hover{
    transform: scale(1.05);
}

.disminuir{
    display: inline-block;
    border: solid red 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 25px;
    text-align: center;
    user-select: none;
}

.cantidad{
    display: inline-block;
    border: solid red 1px;
    width: 25px;
    text-align: center;
    user-select: none;
}

.aumentar{
    display: inline-block;
    border: solid red 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 25px;
    text-align: center;
    user-select: none;
}

.agregar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: solid red 1px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    background-color: rgb(93, 88, 132);
}

.agregar:hover{
    transform: scale(1.05);
}

.aumentar:active,
.disminuir:active,
.agregar:active{
    transform: scale(0.95);
}

/* --Carrusel-- */
.carrusel {
  display: flex;
  overflow-x: auto;   /* scroll horizontal */
  scroll-snap-type: x mandatory; /* se acomoda en cada imagen */
  gap: 10px;
  padding: 10px;
}

.carrusel img {
  flex: 0 0 100%;            /* cada imagen ocupa todo el ancho del carrusel */
  height: 300px;             /* altura fija (ajustala a tu gusto) */
  object-fit: cover;         /* recorta sin deformar */
  border-radius: 10px;
  scroll-snap-align: center;
}

/* Pagina Productos Individuales */

.mostrarProducto{
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin-left: 10px;
    margin-right: 10px;
}

#imagenesProductos{
    background-color: red;
}

.infoProductos{
    background-color: rgb(214, 214, 214);
}